# build
build
target
*.spv

# temp
.temp

# resource
assets
tools/slang
tools/tracy
tools/streamline-sdk
tools/rtx-gi
tools/rtx-di

# operating system
.DS_Store

# IDE
.idea
.vscode
.vs

# Nsignt
*.ngfx-proj
*.ngfx-gputrace
*.ngfx-gputrace.layout

# imgui
imgui.ini

# drawio
*.drawio.bkp
*.drawio.dtmp

# generated
shader/generated/*
