# build
build
target
*.spv

# temp
.temp

# resource
assets
external/slang
external/tracy
external/streamline-sdk
external/rtx-gi
external/rtx-di
external/openpbr

# operating system
.DS_Store

# IDE
.idea
.vscode
.vs

# Nsignt
*.ngfx-proj
*.ngfx-gputrace
*.ngfx-gputrace.layout

# imgui
imgui.ini

# drawio
*.drawio.bkp
*.drawio.dtmp

# generated
shader/generated/*
app/truvis/gen/schemas/

# agents
.codex
