# build
build
target
*.spv

# temp
.temp

# resource
assets

# operating system
.DS_Store

# IDE
.idea
.vscode
.vs

# Nsignt
*.ngfx-proj
*.ngfx-gputrace
*.ngfx-gputrace.layout

# imgui
imgui.ini

# drawio
*.drawio.bkp
*.drawio.dtmp

# generated
shader/generated/*
app/truvis-app/gen/schemas/
__pycache__/
*.py[cod]

# agents
.codex
